<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c87581">  <td>21/08/29 13:24:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;landingpageTest.setup()[pri:0, instance:com.qa.automation.daraz.landingpageTest@124c278f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@884452399</td>   <td></td> </tr>
<tr bgcolor="c87581">  <td>21/08/29 13:24:26</td>   <td>10138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;landingpageTest.teardown()[pri:0, instance:com.qa.automation.daraz.landingpageTest@124c278f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@884452399</td>   <td></td> </tr>
<tr bgcolor="c87581">  <td>21/08/29 13:24:22</td>   <td>6777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="landingpageTest.test()[pri:0, instance:com.qa.automation.daraz.landingpageTest@124c278f]">test</td> 
  <td>main@884452399</td>   <td></td> </tr>
</table>
